html,
body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 1em;
}

body {
    font-size: 100%;
}

a img,
:link img,
:visited img {
    border: 0;
}

header {
    background-image: url(assets/images/header-bg-img.png);
    height: 1080px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
nav{
    width: 1920px;
    display: flex;
    justify-content: center;
}
.img_logo{
    padding-top: 75px;
}
.ul_nav {
width: 510px;
display: flex;
justify-content: space-between;
padding-top: 100px;
padding-right: 210px;
}
.ul_icon{
display: flex;
justify-content: space-between;
width: 160px;
padding-left: 345px;
padding-right: 140px;
padding-top:94px;
}
.ul_social{
display: flex;
justify-content: space-between;
width: 130px;
padding-top:94px;
}
    .shop_now{
    margin-top: 110px;
    }